.icon-item-container {
    MDRipple {
        padding: 5;
    }

    &.font-item MDRipple {
        padding: 10;
    }

    .icon-item {
        &.font-icon {
            width: 20;
            height: 20;
        }
    }
}
