@import "../../styles/mixins.scss";

.meme-words-container {
    @include meme-gradient(to bottom);

    .words-additional-elements {
        ActivityIndicator {
            color: #ffffff;
        }
    }

    ::ng-deep {
        .word-container {
            background-color: #f7f7f7;
        }
    
        .btn-favorite {
            color: black;
            border-radius: 100;
            border-width: 0;

            @include meme-gradient(45deg);
        }
    }
}