@import "~nativescript-theme-core/core";

// Theme colors override
$btn-color-outline-highlighted: #b4b4b4;

@import "./variables.scss";
@import "./modals.scss";

@import "./main.android.scss";

Page {
    font-family: $main-font;
    font-weight: normal;
}

.general-action-bar {
    color: #ffffff;
    background-color: #000000;

    .general-action-bar-label {
        font-family: $main-font;
        font-weight: normal;
        font-size: 25;
    }
}

.main-tab-view {
    tab-text-font-size: 11;
}

.font-icon {
    font-family: "FontAwesome", "fontawesome";
}

.ns-dark {
    background-color: black;
}

ActivityIndicator {
    color: rgb(77, 76, 76);
}

.hidden {
    visibility: collapse;
}
