@import "./variables.scss";

@import "~@nativescript/theme/core";
@import "~@nativescript/theme/default";

// Theme colors override
$btn-color-outline-highlighted: #b4b4b4;

@import "./mixins.scss";
@import "./modals.scss";

@import "./main.android.scss";

Frame {
    font-family: $main-font;
    font-weight: normal;

    background-color: $background;
}

.ns-dark Frame {
    background-color: $background-dark;
}

.general-action-bar {
    color: #ffffff;
    background-color: #000000;

    .general-action-bar-label {
        font-family: $main-font;
        font-weight: normal;
        font-size: 25;
    }
}

.ns-light Switch {
    color: #000000;
}

.ns-dark Switch {
    color: #ffffff;
    background-color: #b4b4b4;
}

.main-tab-view {
    tab-text-font-size: 11;
}

.font-icon {
    font-family: "FontAwesome", "fontawesome";
}

ActivityIndicator {
    color: rgb(77, 76, 76);
}

.hidden {
    visibility: collapse;
}
