@import "./variables.scss";

@mixin for-light-theme-elem ($elemName) {
    :host-context(.ns-light) #{$elemName} {
        @content;
    }
}

@mixin for-dark-theme-elem ($elemName) {
    :host-context(.ns-dark) #{$elemName} {
        @content;
    }
}

@mixin for-light-theme-class ($className) {
    :host-context(.ns-light) .#{$className} {
        @content;
    }
}

@mixin for-dark-theme-class ($className) {
    :host-context(.ns-dark) .#{$className} {
        @content;
    }
}

@mixin apply-black-color-to ($className, $property) {
    :host-context(.ns-light) .#{$className} {
        #{$property}: $background-dark;
    }

    :host-context(.ns-dark) .#{$className} {
        #{$property}: $background-lighter-dark;
    }
}

@mixin apply-current-theme-to($className) {
    :host-context(.ns-light) .#{$className} {
        background-color: $background;
    }

    :host-context(.ns-dark) .#{$className} {
        color: #ffffff;
        background-color: $background-dark;
    }
}

@mixin meme-gradient($direction) {
    background: linear-gradient(#{$direction}, rgb(235, 209, 96), rgb(241, 79, 106), rgb(153, 216, 236));
}

@mixin default-word () {
    ::ng-deep {
        .wordbox-footer {
            background-color: $default-words-color;
        }
    }
}

@mixin daily-word () {
    ::ng-deep {
        .wordbox-footer {
            background: linear-gradient(to right, lighten($daily-words-color, 10%), $daily-words-color);
        }
    }
}

@mixin random-word () {
    ::ng-deep {
        .wordbox-footer {
            background-color: $random-words-color;
        }
    }
}

@mixin meme-word () {
    ::ng-deep {
        .wordbox-footer {
            .wordbox-footer-btn Image {
                color: transparent;
                background-color: transparent;
            }

            @include meme-gradient(45deg);
        }
    }
}
