@mixin meme-gradient($direction) {
    background: linear-gradient(#{$direction}, rgb(235, 209, 96), rgb(241, 79, 106), rgb(153, 216, 236));
}

@mixin apply-current-theme-to($className) {
    ::ng-deep {
        .ns-light {
            .#{$className} {
                background-color: #e5e2e2;
            }
        }

        .ns-dark {
            .#{$className} {
                background-color: #333232;
            }
        }
    }
}
