@import "./variables.scss";

.modal-container {
    margin: 15 15 10 15;
    font-family: $typography-font;
    font-size: 20;
    color: #000000;

    .modal-header {
        font-family: $main-font;
        font-size: 20;
        margin-top: 5;
        margin-left: 5;
        margin-bottom: 10;

        [class^="hr-"] {
            margin-top: 10;
        }
    }

    .modal-footer {
        margin-top: 15;

        Button {
            margin: 0;
            font-family: $main-font;
        }

        .btn-modal-close {
            background-color: transparent;

            Button {
                color: #a80000;
                border-color: transparent;
                font-size: 16;
            }
        }

        .btn-modal-success {
            Button {
                color: #ffffff;
                background-color: #000000;
            }
        }
    }
}