$word-box-height: 300;

$meme-gradient: linear-gradient(to bottom, rgb(235, 209, 96), rgb(241, 79, 106), rgb(153, 216, 236));
$main-font: "Montserrat", "Montserrat-Medium";
$typography-font: "Cardo", "Cardo-Regular";