ActionBar {
    transition: margin-top 5s linear;
    color: white;

    .general-action-bar-label {
        color: white;
    }

    .close-icon {
        color: #ffffff;
        font-size: 25;
        margin-left: 15;
        margin-right: 15;
    }
}