@import "../../styles/variables.scss";

.settings-container {
    ::ng-deep {
        font-family: $typography-font;
        font-weight: normal;
    }

    StackLayout {
        padding: 0;
    }

    .entries-divider {
        margin-left: 10;
        margin-right: 10;
    }
}
