<MainActionBar [routeName]="'/favorites-archive'" [title]="actionBarTitle"></MainActionBar>
<ScrollView class="favorite-words-container" #scrollContainer orientation="vertical" (scroll)="onScroll($event)" sdkExampleTitle sdkToggleNavButton>
    <GridLayout columns="10%, *, 10%" rows="*" *ngIf="favoriteWords.length > 0">
        <StackLayout col="1" row="0" orientation="vertical">
            <StackLayout *ngFor="let favoriteWord of favoriteWords" orientation="vertical">
                <WordBox [word]="favoriteWord.word" [type]="favoriteWord.type"></WordBox>
            </StackLayout>
            <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'"  horizontalAlignment="center">
            </ActivityIndicator>
        </StackLayout>
    </GridLayout>
    <StackLayout orientation="vertical" horizontalAlignment="center" verticalAlignment="center" *ngIf="favoriteWords.length === 0">
        <Label  class="h2 text-center no-words-label"  
                horizontalAlignment="center" 
                verticalAlignment="center" 
                [text]="noWordsText" 
                [textWrap]="true">
        </Label>
    </StackLayout>
</ScrollView>