<GridLayout *ngIf="firstLoading" rows="*" columns="*">
    <ActivityIndicator [busy]="firstLoading" 
                       [visibility]="'visible'"
                       height="100" 
                       width="100"
                       col="0"
                       row="0"  
                       horizontalAlignment="center"
                       verticalAlignment="center">
    </ActivityIndicator>
</GridLayout>
<ScrollView class="random-word-container" orientation="vertical" *ngIf="!firstLoading">
    <ListView #listView class="random-words-main" [items]="allWords" [separatorColor]="'transparent'" (setupItemView)="onSetupWordBoxView($event)" (loadMoreItems)="loadNewWords({count: 3})">
        <ng-template let-word="item" let-ind="index" let-noWords="noWords">
            <StackLayout class="word-box" [ngClass]="{'first-word': ind === 0}" orientation="vertical">
                <GridLayout height="300" columns="*" rows="*">
                    <WordBox col="0" row="0" [word]="word" [type]="'random'"></WordBox>
                </GridLayout>
            </StackLayout>
        </ng-template>
    </ListView>
    <NoWords *ngIf="isNoWords" [errorMessage]="noWordsMsg" (onTap)="loadNewWords({count: 3})"></NoWords>
</ScrollView>