<ScrollView #wordsContainer orientation="vertical" (scroll)="onScroll($event)" sdkExampleTitle sdkToggleNavButton>
    <GridLayout class="random-words-main" columns="10%, *, 10%" rows="*">
        <StackLayout col="1" row="0" orientation="vertical">
            <StackLayout *ngFor="let word of randomWords" orientation="vertical">
                <WordBox [word]="word"></WordBox>
            </StackLayout>
            <Label [text]="noWordsMsg"></Label>
            <Button *ngIf="showNoWordsMsg" [text]="loadWordBtnMsg" (tap)="loadNewWords()"></Button>
            <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'"  horizontalAlignment="center">
            </ActivityIndicator>
        </StackLayout>
    </GridLayout>
</ScrollView>