@import "../../styles/variables.scss";

.master-words-container {
    .words-list {
        .word-date-container{
            font-family: $typography-font;
            color: #000000;
        }
    }

    .loading-words-spinner {
        margin-top: 15;
    }

    .word-box {
        padding-bottom: 30;
    }
}

.words-additional-elements {
    height: 100%;
}