@import "../../styles/variables.scss";

.master-words-container {
    .loading-words-spinner {
        margin-bottom: 10;
    }

    .word-box {
        padding-bottom: 10;
    }
}

.words-additional-elements {
    height: 100%;
}