<GridLayout rows="*" columns="*" class="master-words-container" [class.daily]="wordsType === 'daily'" [class.random]="wordsType === 'random'" [class.meme]="wordsType === 'meme'" orientation="vertical">
    <ListView #listView
              *ngIf="!firstLoading && allListItems.length !== 0" 
              class="words-list"
              row="0"
              column="0"
              [items]="allListItems" 
              separatorColor="transparent" 
              [itemTemplateSelector]="selectItemTemplate"
              (loadMoreItems)="loadNewWords({count: 5})">
        <ng-template nsTemplateKey="header">
            <GridLayout columns="*" rows="30">
                <Label col="0" row="0" text=""></Label>   
            </GridLayout>
        </ng-template>

        <ng-template nsTemplateKey="dailyWord" let-word="item">
            <StackLayout class="word-box" orientation="vertical">
                <GridLayout class="word-date-container" [class.todayDate]="word.date.text === 'Today'" height="30" columns="*, auto, *" rows="*">
                    <Label col="0" row="0" text="" class="word-date-line"></Label>   
                    <Label col="1" row="0" [text]="word.date.text" class="word-date"></Label> 
                    <Label col="2" row="0" text="" class="word-date-line"></Label>   
                </GridLayout>
                <GridLayout height="300" columns="*" rows="*">
                    <WordBox col="0" row="0" [word]="word" [type]="wordsType"></WordBox>
                </GridLayout>
            </StackLayout>
        </ng-template>

        <ng-template nsTemplateKey="defaultWord" let-word="item" let-ind="index">
            <StackLayout class="word-box" orientation="vertical">
                <GridLayout height="300" columns="*" rows="*">
                    <WordBox col="0" row="0" [word]="word" [type]="wordsType"></WordBox>
                </GridLayout>
            </StackLayout>
        </ng-template>

        <ng-template nsTemplateKey="noWords">
            <StackLayout class="word-box" orientation="vertical">
                <NoWords [errorMessage]="noWordsMsg" (onTap)="loadNewWords({count: 5})"></NoWords>
            </StackLayout>
        </ng-template>

        <ng-template nsTemplateKey="loading">
            <StackLayout orientation="vertical">
                <ActivityIndicator class="loading-words-spinner"
                                    [busy]="true"
                                    height="60"
                                    width="60"
                                    horizontalAlignment="center"
                                    verticalAlignment="center">
                </ActivityIndicator>
            </StackLayout>
        </ng-template>
    </ListView>
    <StackLayout *ngIf="isNoWords && allListItems.length === 0 || firstLoading" row="0" column="0"  class="words-additional-elements" orientation="vertical" horizontalAlignment="center" verticalAlignment="center">
        <ActivityIndicator *ngIf="isLoading || firstLoading"
                           [busy]="true"
                           height="100"
                           width="100"
                           horizontalAlignment="center"
                           verticalAlignment="center">
        </ActivityIndicator>
        <NoWords *ngIf="!isLoading" [errorMessage]="noWordsMsg" (onTap)="loadNewWords({count: 3})"></NoWords>
    </StackLayout>
</GridLayout>