@import "../../styles/variables.scss";

.word-date-container {
    font-family: $typography-font;
    color: #000000;
    margin-left: 10;
    margin-right: 10;

    .word-date-line {
        border-width: 0;
        border-style: solid;
        height: 1;
        background-color: rgb(95, 94, 94);
    }
      
    .word-date {
        margin-left: 15;
        margin-right: 15;
        text-align: center;
        font-size: 15;
        font-weight: bold;
    }

    &.today_date {
        .word-date {
            color: $latest-daily-word-color;
        }
    
        .word-date-line {
            background-color: lighten($latest-daily-word-color, 10%);
        }
    }
}