@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.word-date-container {
    font-family: $typography-font;
    margin-left: 10;
    margin-right: 10;

    .word-date-line {
        border-width: 0;
        border-style: solid;
        height: 1;
    }
      
    .word-date {
        margin-left: 15;
        margin-right: 15;
        text-align: center;
        font-size: 15;
        font-weight: bold;
    }
}

@include for-light-theme (word-date-container) {
    color: #000000;

    .word-date-line {
        background-color: rgb(95, 94, 94);
    }

    &.today_date {
        .word-date {
            color: $daily-words-color;
        }
    
        .word-date-line {
            background-color: lighten($daily-words-color, 10%);
        }
    }
}

@include for-dark-theme (word-date-container) {
    color: #ffffff;

    .word-date-line {
        background-color: darken(#ffffff, 10%);
    }
}