@import '~nativescript-theme-core/scss/light';

// Theme colors override
$btn-color-outline-highlighted: #b4b4b4;

@import '~nativescript-theme-core/scss/index';

$meme-gradient: linear-gradient(to bottom, rgb(235, 209, 96), rgb(241, 79, 106), rgb(153, 216, 236));

Page {
    font-family: "Cardo", "Cardo-Regular";
    font-weight: normal;
}

.general-action-bar {
    color: #ffffff;
    background-color: #000000;
}

.font-icon {
    font-family: "FontAwesome", "fontawesome";
}

.repeat-load-btn {
    color: white;
    background-color: #1d1d1d;
}

.first-word {
    padding-top: 20;
}

.word-box {
    padding-left: 10;
    padding-right: 10;
    padding-bottom: 15;
}

ActivityIndicator {
    color: rgb(77, 76, 76);
}
