:host {
    .grey-theme {
        background-color: red;
    }

    page-router-outlet {
        background-color: violet;
    }
}

page-router-outlet {
    background-color: violet;
}

::ng-deep {
    page-router-outlet {
        background-color: violet;
    }
}