@import '~nativescript-theme-core/scss/light';

// Theme colors override
$btn-color-outline-highlighted: #b4b4b4;

@import '~nativescript-theme-core/scss/index';

.general-action-bar {
    color: #ffffff;
    background-color: #000000;
}

:root {
    transition: margin-top 0.5s linear;
}

Page {
    transition: margin-top 5s linear;
}