<ActionBar #actionBar class="general-action-bar" [title]="title">
    <NavigationButton *ngIf="canGoBack()" 
                      text="Go Back" 
                      android.systemIcon="ic_menu_back" 
                      (tap)="goBack()">
    </NavigationButton>
    <ActionItem *ngIf="showFavoritesArchive()"
                (tap)="openFavorites()" 
                icon="res://favorites_archive"
                ios.position="right"
                android.position="actionBarIfRoom"></ActionItem>
    <ActionItem (tap)="openSettings()" 
                ios.systemIcon="10" 
                ios.position="right" 
                [text]="mainConfig.actionBarItems.settings.name" 
                android.position="popup"></ActionItem>
    <ActionItem (tap)="openAboutUs()" 
                ios.systemIcon="11" 
                ios.position="right" 
                [text]="mainConfig.actionBarItems.aboutUs.name" 
                android.position="popup"></ActionItem>
</ActionBar>