<ActionBar #actionBar class="general-action-bar">
    <NavigationButton *ngIf="canGoBack()" 
                      text="Go Back" 
                      android.systemIcon="ic_menu_back" 
                      (tap)="goBack()">
    </NavigationButton>
    <StackLayout orientation="horizontal" android:horizontalAlignment="left" ios:horizontalAlignment="center">
        <Label [text]="title" class="general-action-bar-label"></Label>
    </StackLayout>
    <ActionItem *ngIf="showWikiLogo()" ios.position="right" (tap)="openWordWiki()">
        <StackLayout class="wiki-logo" orientation="vertical" backgroundColor="#ffffff" borderRadius="100">
            <Image src="res://wiki_logo" margin="5" width="20" height="20" stretch="aspectFit"></Image> 
        </StackLayout>
    </ActionItem>
    <ActionItem *ngIf="showFavoritesArchive()"
                (tap)="openFavorites()" 
                icon="res://favorites_archive"
                ios.position="right"
                android.position="actionBarIfRoom">
    </ActionItem>
    <ActionItem (tap)="openSettings()" 
                ios.systemIcon="10" 
                ios.position="right" 
                [text]="MainConfig.config.actionBarItems.settings.name" 
                android.position="popup">
    </ActionItem>
    <ActionItem (tap)="openAboutUs()" 
                ios.systemIcon="11" 
                ios.position="right" 
                [text]="MainConfig.config.actionBarItems.aboutUs.name" 
                android.position="popup">
    </ActionItem>
</ActionBar>