<MainActionBar #mainActionBar
               [routeName]="MainConfig.config.states.home.url">
</MainActionBar>
<NoConnection></NoConnection>

<BottomNavigation class="main-tab-view"
                  selectedIndex="0"
                  (selectedIndexChanged)="onSelectedTabChanged($event)">
    <TabStrip #tabStripView>
        <TabStripItem *ngFor="let column of MainConfig.config.columnsOrder">
            <Label [text]="wordsTab[column].title"></Label>
            <Image [src]="wordsTab[column].icon"></Image>
        </TabStripItem>
    </TabStrip>

    <TabContentItem class="words-tab" *ngFor="let column of MainConfig.config.columnsOrder">
        <StackLayout class="words-tab">
            <ng-container [ngSwitch]="column">
                <DailyWords *ngSwitchCase="'daily'"></DailyWords>
                <RandomWords *ngSwitchCase="'random'"
                             [currentSelectedTab]=""></RandomWords>
                <MemeWords *ngSwitchCase="'meme'"></MemeWords>
            </ng-container>
        </StackLayout>
    </TabContentItem>
</BottomNavigation>