@import "../../styles/mixins.scss";

@include apply-current-theme-to(main-tab-view);

:host {
    .main-tab-view {
        tab-text-font-size: 11;
        tab-text-color: #a8a4a4;
        tab-background-color: #000000;
        selected-tab-text-color: #ffffff;
    }
}

.main-tab-view {
    tab-text-font-size: 11;
    tab-text-color: #a8a4a4;
    tab-background-color: #000000;
    selected-tab-text-color: #ffffff;
}
