@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.main-tab-view {
    TabStripItem {
        Label {
            font-family: $main-font;
            font-size: 15;
        }

        &:active {
            Label {
                font-weight: 900;
            }
        }
    }
}

@include for-general-theme-elem(TabStripItem) {
    Label {
        color: #a8a4a4;
    }

    &:active {
        background-color: #242323;

        Label {
            color: #ffffff;
        }
    }
}

@include for-light-theme-elem(TabStripItem) {
    background-color: #000000;
}

@include for-dark-theme-elem(TabStripItem) {
    background-color: lighten($background-dark, 5%);
}

@include apply-current-theme-to(words-tab);
