<MainActionBar #mainActionBar
               [routeName]="MainConfig.config.states.home.url">
</MainActionBar>
<NoConnection></NoConnection>

<TabView #wordsTabView
         class="main-tab-view"
         androidTabsPosition="bottom"
         (loaded)="onTabViewLoaded()"
         (selectedIndexChanged)="onSelectedTabChanged($event)">
    <ng-container *ngFor="let column of MainConfig.config.columnsOrder">
        <StackLayout *tabItem="{title: wordsTab[column].title, iconSource: wordsTab[column].icon}">
            <ng-container [ngSwitch]="column">
                <DailyWords *ngSwitchCase="'daily'"></DailyWords>
                <RandomWords *ngSwitchCase="'random'"
                             [currentSelectedTab]=""></RandomWords>
                <MemeWords *ngSwitchCase="'meme'"></MemeWords>
            </ng-container>
        </StackLayout>
    </ng-container>
</TabView>