@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.main-tab-view {
    TabStripItem {
        background-color: #000000;

        Label {
            color: #a8a4a4;
            font-family: $main-font;
            font-size: 15;
        }

        &:active {
            background-color: #242323;

            Label {
                color: #ffffff;
                font-weight: 900;
            }
        }
    }
}

@include apply-current-theme-to(words-tab);
