<StackLayout class="contact-us-modal-container">
    <Label class="h2 modal-title"
           margin="15"
           text="Contact Us Via">
    </Label>
    <ListView height="200"
              [items]="availableContactOptions"
              (itemTap)="onContactTap($event)">
        <ng-template let-contact="item">
            <GridLayout columns="50, 5, *"
                        rows="*"
                        class="contact-us-option">
                <Image [src]="contact.icon"
                       class="font-icon icon-item"
                       col="0"
                       row="0"
                       stretch="none">
                </Image>
                <Label [text]="contact.title"
                       col="2"
                       row="0">
                </Label>
            </GridLayout>
        </ng-template>
    </ListView>
</StackLayout>