@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.contact-us-modal-container {
    padding: 0;

    .bottom-sheet-holder {
        height: 5;
        border-radius: 50;
        margin-top: 5;
        width: 15%;
        padding: 0;
    }

    .modal-title {
        font-family: $main-font;
        margin: 10 15 15 15;
    }

    ListView {
        border-width: 1px;
    }

    .contact-us-option {
        Image {
            font-size: 20;

            &.email {
                color: rgb(255, 73, 73);
            }
            
            &.twitter {
                color: rgba(29,161,242,1.00);
            }

            &.telegram {
                color: #28a0d3;
            }
        }

        Label {
            font-family: $main-font;
            font-size: 18;
        }
    }

    // Special case because BottomSheet doesn't respect topframe classes ns-light/ns-dark
    &.ns-light {
        color: #000000;

        .bottom-sheet-holder {
            background-color: rgba(175, 175, 175, 0.856);
        }
    
        ListView {
            border-top-color: rgb(207, 207, 207);
        }
    }

    &.ns-dark {
        color: #ffffff;
        background-color: $background-lighter-dark;
    
        .bottom-sheet-holder {
            background-color: #ffffff;
        } 
    }
}
