<StackLayout class="contact-us-modal-container" [ngClass]="currentTheme">
    <StackLayout class="bottom-sheet-holder" horizontalAlignment="center"></StackLayout>
    <Label class="h2 modal-title"
           text="Contact Us Via">
    </Label>
    <ListView height="220"
              [items]="availableContactOptions"
              (itemTap)="onContactTap($event)">
        <ng-template let-contact="item">
            <GridLayout columns="10, 30, 10, *"
                        rows="50"
                        class="contact-us-option">
                <Image src="font://{{contact.icon}}"
                       class="font-icon"
                       [ngClass]="contact.cssClass"
                       col="1"
                       row="0"
                       stretch="none">
                </Image>
                <Label [text]="contact.title"
                       col="3"
                       row="0">
                </Label>
            </GridLayout>
        </ng-template>
    </ListView>
</StackLayout>