.no-connection-container {
    margin: 10 10 0 10;

    .no-connection-icon {
        margin-top: 10;
        font-size: 60;
    }
    
    .ban-icon {
        font-size: 85;
    }
    
    .offline-text {
        font-size: 25;
    }
}
