.no-connection-container {
    z-index: 99;
    transform: translateY(-100);

    GridLayout {
        &.offline {
            background-color: #be0000;
        }

        &.online {
            background-color: #008000;
        }

        Label {
            color: #ffffff;
        }
    }
}
