.no-connection-container {
    z-index: 1000;
    transform: translateY(-50);

    GridLayout {
        .error {
            background-color: red;
        }

        .working {
            background-color: green;
        }

        .offline-text {
            color: #ffffff;
        }
    }
}
