<GridLayout class="search-bar-container"
            columns="50, *, 50"
            rows="auto">
       <MDRipple *ngIf="SpeechRecognition.isAvailable"
                 borderRadius="100"
                 rippleColor="#050505"
                 (tap)="startSpeechRecognition()">
              <Image src="font://&#xe31d;"
                     class="md-font-icon"
                     verticalAlignment="center">
              </Image>
       </MDRipple>
       <Image *ngIf="!SpeechRecognition.isAvailable"
              src="font://&#xf002;"
              verticalAlignment="center"
              class="fa-font-icon">
       </Image>
       <TextField #searchBarField
                  class="search-bar-field"
                  hint="Search for any words..."
                  returnKeyType="search"
                  autocapitalizationType="none"
                  maxLength="50"
                  col="1"
                  row="0"
                  textAlignment="left"
                  (textChange)="onSearchTextChange()"
                  (returnPress)="onConfirmSearchTap()">
       </TextField>
       <MDRipple *ngIf="!isSearchInProgress"
                 col="2"
                 row="0"
                 borderRadius="100"
                 rippleColor="#050505"
                 (tap)="clearSearchField()">
              <Image src="font://&#xf00d;"
                     class="fa-font-icon"
                     width="100%"
                     horizontalAlignment="center"
                     verticalAlignment="center">
              </Image>
       </MDRipple>
       <ActivityIndicator *ngIf="isSearchInProgress"
                          [busy]="true"
                          col="2"
                          row="0"
                          horizontalAlignment="center"
                          verticalAlignment="center">
       </ActivityIndicator>
</GridLayout>