<MDCardView #cardViewElement
            class="material-card-wrapper"
            elevation="5"
            (tap)="onOpenWordTap()">
       <GridLayout #wordBox
                   columns="*, auto"
                   rows="70, *, 50"
                   class="word-container"
                   verticalAlignment="center">
              <GridLayout class="word-selftext"
                          row="0"
                          col="0"
                          colspan="2"
                          columns="*"
                          rows="*"
                          verticalAlignment="center">
                     <Label col="0"
                            row="0"
                            [text]="word.name"></Label>
              </GridLayout>
              <StackLayout class="word-definitions"
                           row="1"
                           col="0"
                           colSpan="2"
                           orientation="vertical">
                     <Label *ngFor="let def of word.definitions | slice:0:3 ; index as ind"
                            class="word-definition"
                            [text]="(ind + 1) + '. ' + def">
                     </Label>
                     <Label *ngIf="word.definitions.length > 3"
                            [text]="(word.definitions.length - 3) + ' more...'"
                            horizontalAlignment="right">
                     </Label>
              </StackLayout>
              <GridLayout class="wordbox-footer"
                          row="2"
                          col="1"
                          columns="auto, auto"
                          rows="*"
                          orientation="horizontal">
                     <MDRipple col="0"
                               row="0"
                               class="wordbox-footer-btn"
                               rippleColor="white"
                               (tap)="onFavoriteTap()">
                            <Image [src]="word.isFavorite ? 'res://star_full' : 'res://star_empty'"
                                   class="btn-favorite-container"
                                   [style.visibility]="disableFavorite ? 'collapse' : 'visible'"
                                   horizontalAlignment="center"
                                   verticalAlignment="top">
                            </Image>
                     </MDRipple>
                     <MDRipple col="1"
                               row="0"
                               class="wordbox-footer-btn"
                               rippleColor="white"
                               (tap)="onSocialShareTap()">
                            <Image [src]="'res://social_share'"
                                   class="btn-share-container"
                                   horizontalAlignment="center"
                                   verticalAlignment="top">
                            </Image>
                     </MDRipple>
              </GridLayout>
       </GridLayout>
</MDCardView>