@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.material-card-wrapper {
    margin: 10 15;
}

.word-container {
    height: $word-box-height;
    padding: 15 20;

    .wordbox-footer {
        border-radius: 100;
        border-width: 0;
    }

    .word-selftext,
    .word-definitions {
        font-family: $typography-font;
        font-weight: normal;
    }

    .word-selftext {
        font-weight: normal;
        font-size: 35;
        padding: 0;
    }
    
    .word-definitions {
        padding: 0;
        font-size: 20;
        font-weight: normal;

        Label {
            padding: 0;
        }
    
        .word-definition {
            font-style: italic;
        }
    }
    
    .wordbox-footer {
        padding: 5 15 5 10;

        .wordbox-footer-btn {
            border-radius: 50;
        }
    }
}

@include for-light-theme(word-container) {
    color: rgb(0, 0, 0);
    background-color: #ffffff;

    .word-selftext,
    .word-definitions {
        color: #000000;
    }

    .word-definition {
        color: rgb(65, 62, 62);
    }
}

@include for-dark-theme(word-container) {
    color: #ffffff;

    .word-selftext,
    .word-definitions,
    .word-definition {
        color: #ffffff;
    }
}

@include apply-black-color-to(word-container, background-color);
