@import "../../styles/variables.scss";

::ng-deep {
    .grey-theme {
        .word-container {
            color: rgb(0, 0, 0);
            background-color: rgb(204, 204, 204);
        }
    }

    .dark-theme {
        .word-container {
            background-color: #ffffffff;
        }
    }
}

.word-container {
    height: 300;
    margin-top: 10;
    margin-bottom: 20;
    padding-top: 20;
    padding-bottom: 15; 
    padding-right: 15;
    padding-left: 15;

    .word-selftext,
    .word-definitions {
        font-family: $typography-font;
        font-weight: normal;
    }

    &.newest-teaser {
        background-color: #ac9203;

        .question-icon {
            margin-top: -10;
            font-family: "FontAwesome", "fontawesome";
            font-size: 250;
            opacity: 0.7;
        }

        .btn-newest-word {
            color: #000000;
            background-color: rgba(233, 200, 16, 0.822);
            font-size: 25;
            font-weight: 600;
        }
    }

    &.newest-word {
        background-color: rgba(201, 174, 20, 0.815);
    }

    .word-selftext {
        font-weight: normal;
        font-size: 35;
        color: rgb(0, 0, 0);
        margin-bottom: 20;
    }
    
    .word-definitions {
        padding-bottom: 5;
        font-size: 20;
        font-weight: normal;
    
        .word-definition {
            font-style: italic;
            color: rgb(65, 62, 62);
        }
    }
    
    .wordbox-footer {
        padding-top: 10;
    }
    
    .wordbox-footer Button {
        min-height: 100;
        min-width: 64;
        margin-left: 0;
        margin-right: 10;
        color: black;
        border-width: 1;
        border-color: black;
        border-radius: 3;
        padding: 0;
    }
    
    .btn-favorite {
        margin-top: 8;
    }
}
