@import "../../styles/variables.scss";

::ng-deep {
    .grey-theme,
    .dark-theme {
        .word-container {
            color: rgb(0, 0, 0);
            border-color: transparent;
            background-color: #ffffffff;
            border-width: 2;
            border-radius: 5;

            .btn-favorite-container {
                background: #000000;
                border-radius: 100;
                border-width: 0;
            }
        }
    }

    .grey-theme {
        .word-container {}
    }

    .dark-theme {
        .word-container {}
    }
}

.word-container {
    height: 300;
    margin-top: 20;
    margin-bottom: 20;
    padding-top: 20;
    padding-bottom: 20; 
    padding-right: 20;
    padding-left: 20;

    .word-selftext,
    .word-definitions {
        font-family: $typography-font;
        font-weight: normal;
    }

    &.newest_teaser {
        .question-icon {
            margin-top: -10;
            font-family: "FontAwesome", "fontawesome";
            font-size: 250;
            opacity: 0.7;
        }

        .btn-newest-word {
            font-size: 25;
            font-weight: 600;
        }
    }

    .word-selftext {
        font-weight: normal;
        font-size: 35;
        color: rgb(0, 0, 0);
        margin-bottom: 20;
    }
    
    .word-definitions {
        padding-bottom: 5;
        font-size: 20;
        font-weight: normal;
    
        .word-definition {
            font-style: italic;
            color: rgb(65, 62, 62);
        }
    }
    
    .wordbox-footer {
        padding-top: 10;
    }
    
    .wordbox-footer Button {
        min-height: 100;
        min-width: 64;
        margin-left: 0;
        margin-right: 10;
        color: black;
        background-color: rgb(240, 240, 240);
        border-width: 1;
        border-color: transparent;
        border-radius: 3;
        padding: 0;
    }
    
    .btn-favorite-container {
        padding: 0 5;
    }
}
