@import "../master-words/master-words-common.scss";

::ng-deep {
    .grey-theme,
    .dark-theme {
        .master-words-container.daily .word-container {
            border-color: #000000;
        }
    }
}

.master-words-container.daily {
    .word-date-line {
        border-width: 0;
        border-style: solid;
        height: 1;
        background-color: rgb(95, 94, 94);
    }
      
    .word-date {
        margin-left: 15;
        margin-right: 15;
        text-align: center;
        font-size: 15;
        font-weight: bold;
    }
    
    .today_date {
        .word-date {
            color: rgba(121, 104, 7, 0.815);
        }
    
        .word-date-line {
            background-color: rgba(185, 158, 2, 0.815);
        }
    }
}