<MainActionBar [routeName]="MainConfig.config.states.settingsGeneral.url"></MainActionBar>
<ScrollView orientation="vertical"
            class="settings-container">
    <GridLayout columns="*"
                rows="*">
        <StackLayout col="0"
                     row="0"
                     orientation="vertical">
            <SettingsDivider></SettingsDivider>
            <SettingsEntry title="Current Theme"
                           [subtitle]="selectedTheme.label"
                           (onEntryTap)="openSelectThemeDialog()">
            </SettingsEntry>
            <SettingsDivider></SettingsDivider>
            <SettingsEntry title="Columns Order"
                           subtitle="Change order of columns on home page"
                           [useContentProjection]="true"
                           (onEntryTap)="openColumnsOrderingModal()">
                <StackLayout class="columns-list">
                    <ng-container *ngFor="let columnName of currentColumnsOrder; index as ind">
                        <GridLayout columns="30, *" rows="*">
                            <Label col="0" row="0" [text]="(ind + 1) + '.'"></Label>
                            <Label col="1" row="0" [text]="availableColumns[columnName].label"></Label>
                        </GridLayout>
                    </ng-container>
                </StackLayout>
            </SettingsEntry>
            <SettingsDivider></SettingsDivider>
            <StackLayout reorderContainer>
                <ng-container *ngFor="let columnName of currentColumnsOrder; index as ind">
                    <GridLayout draggableItem
                                dragDirection="vertical"
                                [dragItemValue]="columnName"
                                columns="5, 30, *, 30"
                                rows="*"
                                class="column-elem">
                        <Label col="1"
                               row="0"
                               [text]="(ind + 1) + '.'">
                        </Label>
                        <Label col="2"
                               row="0"
                               [text]="availableColumns[columnName].label">
                        </Label>
                        <Label col="3"
                               row="0"
                               horizontalAlignment="center"
                               verticalAlignment="center"
                               class="font-icon drag-icon"
                               text="&#xf0c9;">
                        </Label>
                    </GridLayout>
                </ng-container>
            </StackLayout>
        </StackLayout>
    </GridLayout>
</ScrollView>