.no-connection-container {
    margin-top: 10;

    .no-connection-icon {
        margin-top: 10;
        font-size: 50;
    }
    
    .ban-icon {
        font-size: 75;
    }
    
    .offline-text {
        font-size: 18;
    }
}