@import "../../../../styles/mixins.scss";

.settings-container {
    ::ng-deep {
        .entry-title {
            font-size: 20;
        }
    }

    .license-url {
        color: #0000EE;
        font-size: 16;
        margin-bottom: 15;
    }

    .thanks-text {
        font-size: 18;
    }

    .thanks-url {
        color: #0000EE;
        font-size: 18;
        margin-bottom: 15;
    }
}

@include for-dark-theme-class(settings-container) {
    .license-url,
    .thanks-url {
        color: rgb(117, 117, 255);
    }
}
