.word-container {
    height: 300;
    color: rgb(0, 0, 0);
    background-color: rgb(204, 204, 204);
    margin-top: 10;
    margin-bottom: 10;
    padding-top: 20;
    padding-bottom: 15; 
    padding-right: 15;
    padding-left: 15;
}

.word-selftext {
    font-size: 35;
    color: rgb(0, 0, 0);
    margin-bottom: 30;
}

.word-definition {
    font-size: 20;
    color: rgb(65, 62, 62);
}