<GridLayout class="word-container" columns="*, 30" rows="70, *, 40" verticalAlignment="center">
    <Label row="0" col="0" class="word-selftext" [text]="word.name" textWrap="true" verticalAlignment="top"></Label>
    <Image *ngIf="!disableFavorite" 
        [src]="isFavorite() ? 'res://star_full' : 'res://star_empty'" 
        row="0" 
        col="1" 
        class="btn-favorite" 
        verticalAlignment="top" 
        stretch="aspectFit" 
        (tap)="onFavoriteTap()">
    </Image>
    <StackLayout class="word-definitions" row="1" col="0" colSpan="2" orientation="vertical">
        <Label *ngFor="let def of word.definitions; index as ind" class="word-definition" [text]="(ind + 1) + '. ' + def"></Label>
    </StackLayout>
    <StackLayout class="wordbox-footer" row="2" col="0" colSpan="2" orientation="horizontal">
        <Button class="btn-outline btn-open-word" text="Open" (tap)="onOpenWordTap()" btnHighlight></Button>
        <Button class="btn-outline brn-share-word" text="Share" (tap)="onSocialShareTap()" btnHighlight></Button>
    </StackLayout>
</GridLayout>