.search-bar-container {
    background-color: #ffffff;

    .search-bar-field {
        color: #000000;
        background-color:  #ffffff;
        border-color: #ffffff;
        height: 40;
        width: 100%;
        font-size: 20;
        padding-bottom: 5;
    }

    Image {
        height: 20;
        background-color: transparent;
    }

    ActivityIndicator {
        width: 25;
        height: 25;
    }
}