<GridLayout columns="*"
            rows="auto, *">
    <StackLayout col="0"
                 row="0"
                 class="search-bar-container"
                 orientation="vertical"
                 horizontalAlignment="center"
                 verticalAlignment="top">
        <SearchWordsBar (onSearchFieldLoaded)="saveSearchFieldReference($event)"
                        (onSearchTextChange)="onSearchTextChange($event)">
        </SearchWordsBar>
    </StackLayout>
    <ScrollView class="search-results-container"
                col="0"
                row="1"
                orientation="vertical"
                (tap)="dismissSearchFieldKeyboard()">
        <StackLayout>
            <StackLayout class="results-label-container">
                <Label class="results-label"
                       text="Search Results"></Label>
            </StackLayout>
            <MDCardView *ngFor="let searchItem of searchItems"
                        class="search-item material-card-wrapper"
                        (tap)="onOpenWordTap(searchItem)">
                <StackLayout class="search-item-layout"
                             orientation="vertical"
                             verticalAlignment="center">
                    <Label [text]="searchItem.name"></Label>
                </StackLayout>
            </MDCardView>
        </StackLayout>
    </ScrollView>
</GridLayout>