@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

@include apply-current-theme-to(search-results-container);


.search-bar-container {
    width: 100%;
    background-color: black;
    padding-top: 15;
    padding-bottom: 2;

    SearchBar {
       color: black;
    }
}

.search-results-container {
    padding: 0;
    margin: 0;

    .results-label-container {
        margin: 20 15 5 15;

        Label {
            font-size: 18;
            color: #474747;
        }
    }

    .search-item-common {
        height: 65;
        padding: 15 20;
        color: #000000;
        background-color: #ffffffff;
        font-family: $typography-font;
        margin-bottom: 20;

        .search-item-layout {
            Label {
                font-size: 24;
            }
        }

        &.material-card-wrapper {
            margin: 10 15;
        }
    }

    .search-archive-item {
        .search-item-layout {
            padding: 0 0 0 15;

            .delete-recent-search {
                background-color: #ff0000;
            
                Image {
                    margin-top: 25%;
                    color: #ffffffff;
                    font-size: 12;
                }
            }
        }
    }

    .search-item {
        .search-item-layout {
            padding: 0 15;

            Label {
                font-size: 24;
            }

            Image {
                margin-left: 10;
                font-size: 8;
            }
        }
    }
}
