.loading-screen-main {
    background-color: rgb(163, 163, 163);
}

Label {
    color: #000000;
    font-weight: 200;
}

.btn-launch {
    background-color: rgb(121, 190, 236);
    border-color: rgb(121, 190, 236);
    border-width: 1;
    border-radius: 5;
}