@import "../../../styles/variables.scss";

$settings-entry-color: rgba(3, 3, 3, 0.836);

.entry-container {
    ::ng-deep {
        font-family: $typography-font;
        font-weight: normal;
        font-size: 20;
        color: $settings-entry-color;
    }
}

.entry-title-container {
    margin: 5 10 5 15;
}

.entry-icon {
    margin-left: 15;
}

.entry-title {
    font-size: 18;
    font-family: $main-font;
    color: $settings-entry-color;
}

.entry-subtitle {
    font-family: $typography-font;
    color: lighten($settings-entry-color, 20%);
    font-size: 16;
}

.entry-content {
    margin-top: 15;
    margin-left: 15;
}