@import "../../mixins.scss";

.meme-words-container {
    @include meme-gradient(to bottom);
    height: 100%;

    .meme-words-main {
        height: 100%;
    }

    .meme-words-stack {
        margin-top: 20;
        margin-bottom: 20;

        .meme-word-container {
            margin-bottom: 15;
        }
    }
}