<GridLayout *ngIf="firstLoading && isLoading" rows="*" columns="*">
    <ActivityIndicator [busy]="firstLoading && isLoading" 
                       [visibility]="isLoading ? 'visible' : 'collapse'"
                       height="100" 
                       width="100"  
                       horizontalAlignment="center"
                       verticalAlignment="center">
    </ActivityIndicator>
</GridLayout>
<ScrollView #scrollContainer class="meme-words-container" orientation="vertical" (scroll)="onScroll($event)" sdkExampleTitle sdkToggleNavButton>
    <GridLayout class="meme-words-main" columns="10%, *, 10%" rows="*">
        <StackLayout class="meme-words-stack" col="1" row="0" orientation="vertical">
            <StackLayout orientation="vertical">
                <WordBox *ngFor="let word of allWords" [word]="word" [type]="'meme'"></WordBox>
            </StackLayout>
            <StackLayout horizontalAlignment="center" orientation="vertical" verticalAlignment="center" *ngIf="showNoWordsMsg">
                <Label class="h2 text-center" [text]="noWordsMsg" [textWrap]="true" horizontalAlignment="center" verticalAlignment="center"></Label>
                <Button [text]="loadWordsBtnMsg" horizontalAlignment="center" verticalAlignment="center" (tap)="loadNewWords()"></Button>
            </StackLayout>
            <ActivityIndicator [busy]="!firstLoading && isLoading" 
                               [visibility]="isLoading ? 'visible' : 'collapse'"  
                               horizontalAlignment="center" 
                               verticalAlignment="center">
            </ActivityIndicator>
        </StackLayout>
    </GridLayout>
</ScrollView>