@import "../../styles/variables.scss";

.word-container.latest_word_teaser {
    background-color: $latest-daily-word-color;

    .btn-latest-word {
        color: #000000;
        background-color: lighten($latest-daily-word-color, 10%);
    }
}

.material-card-wrapper {
    margin: 10 15;
}

.word-container {
    height: $word-box-height;

    &.latest_word_teaser {
        .question-icon {
            margin-top: -10;
            font-family: "FontAwesome", "fontawesome";
            font-size: 250;
            opacity: 0.7;
        }
    
        .btn-latest-word {
            height: auto;
            padding-top: 10;
            padding-bottom: 10;
            font-size: 25;
            font-weight: 600;
        }
    }
}
