@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.word-container.latest-word-teaser {
    background: linear-gradient(to bottom, lighten($daily-words-color, 10%), $daily-words-color);

    .btn-latest-word {
        color: #000000;
        background-color: lighten($daily-words-color, 10%);
    }
}

.material-card-wrapper {
    margin: 10 15;
}

.word-container {
    height: $word-box-height;

    &.latest-word-teaser {
        .question-icon {
            margin-top: -10;
            font-size: 250;
            opacity: 0.7;
        }
    
        .btn-latest-word {
            height: auto;
            padding-top: 10;
            padding-bottom: 10;
            font-size: 25;
            font-weight: 600;
        }
    }
}

@include for-dark-theme-class(question-icon) {
    color: #000000;
}
