<MDCardView #wordBox
            class="material-card-wrapper"
            elevation="5"
            [rippleColor]="cardRippleColor"
            (tap)="openLatestWord()">
       <GridLayout columns="*"
                   rows="*"
                   class="word-container latest-word-teaser"
                   verticalAlignment="center">
              <Label class="fa-font-icon question-icon"
                     text="&#xf128;"
                     col="0"
                     row="0"
                     horizontalAlignment="center"
                     verticalAlignment="center">
              </Label>
              <Button class="btn-primary text-uppercase btn-latest-word"
                      col="0"
                      row="0"
                      verticalAlignment="center"
                      text="Open Latest Word!"
                      (tap)="openLatestWord()">
              </Button>
       </GridLayout>
</MDCardView>