<GridLayout rows="*" class="master-words-container" [ngClass]="className" orientation="vertical">
    <ListView #listView
              *ngIf="!firstLoading && allWords.length !== 0" 
              class="words-list"
              row="0"
              height="100%"
              [items]="allWords" 
              separatorColor="transparent" 
              (setupItemView)="onSetupWordBoxView($event)"
              (loadMoreItems)="loadNewWords({count: 5})">
        <ng-template let-word="item" let-ind="index" let-isLast="isLast">
            <StackLayout class="word-box" [ngClass]="{'first-word': ind === 0}" orientation="vertical">
                <GridLayout *ngIf="wordsType === 'daily'" class="word-date-container" height="30" columns="*, auto, *" rows="*" [ngClass]="{'today-date': word.date.text === 'Today'}">
                    <Label col="0" row="0" text="" class="word-date-line"></Label>   
                    <Label col="1" row="0" [text]="word.date.text" class="word-date"></Label> 
                    <Label col="2" row="0" text="" class="word-date-line"></Label>   
                </GridLayout>
                <GridLayout height="300" columns="*" rows="*">
                    <WordBox col="0" row="0" [word]="word" [type]="wordsType"></WordBox>
                </GridLayout>
                <NoWords *ngIf="isLast && isNoWords" [errorMessage]="noWordsMsg" (onTap)="loadNewWords({count: 3})"></NoWords>
                <ActivityIndicator *ngIf="isLast && isLoading" 
                                    class="loading-words-spinner"
                                    [busy]="true"
                                    height="60"
                                    width="60"
                                    horizontalAlignment="center"
                                    verticalAlignment="center">
                </ActivityIndicator>
            </StackLayout>
        </ng-template>
    </ListView>
    <StackLayout *ngIf="firstLoading" row="0" class="loading-indicator" orientation="vertical" horizontalAlignment="center" verticalAlignment="center">
        <ActivityIndicator [busy]="firstLoading"
                           height="100"
                           width="100"
                           horizontalAlignment="center"
                           verticalAlignment="center">
        </ActivityIndicator>
    </StackLayout>
    <StackLayout *ngIf="isNoWords && allWords.length === 0" row="0" class="no-words-component" orientation="vertical" horizontalAlignment="center" verticalAlignment="center">
        <NoWords [errorMessage]="noWordsMsg" (onTap)="loadNewWords({count: 3})"></NoWords>
    </StackLayout>
</GridLayout>